fastapi
uvicorn[standard]
sqlalchemy>=1.4
asyncpg
alembic
python-dotenv
passlib[bcrypt]
bcrypt==4.3.0
python-jose[cryptography]
pydantic
pydantic-settings
email-validator
httpx

# For Bot Telegram
python-multipart
opencv-python-headless
ffmpeg-python
whisper
pytesseract
Pillow